@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
* {
    font-family: 'Nunito', sans-serif;
}
body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 20px;
}
/* grid layout */
.container {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 50px 1fr;
    grid-template-areas: 
        "header header header"
        " nav    nav    nav  "
        " main   main   main ";
    gap: 20px;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
}

/* header layout & styling */
.header__inner-container {
    height: 100%;
}
.header__logo {
    height: 100%;
    font-size: 30px;
    line-height: 50px;
}

/* nav layout & styling */
.nav__inner-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}

.nav__list {
    flex-grow: 1;
    text-align: center;
    height: 100%;
    border: 1px solid grey;
    line-height: 50px;
}

/* upload layout & styling */
.upload {
    position: relative;
}

.upload__image-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    border: 2px dashed #92b0b3 ;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.upload__logo-container {
    height: 50%;
}

.upload__logo {
    margin-top: 35%;
    width: 10%;
}

.upload__info {
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight: bold;
}

.upload__info--thin {
    margin-top: 10px;
    color: grey;
    font-weight: lighter;
}

.upload__image-input--hidden {
    display: none;
}

.upload__submit {
    position: absolute;
    bottom: 1%;
    right: 1%;
    z-index: 30;

}


/* media query */
@media only screen and (min-width: 480px) {
    :root {
        font-size: 0.75em;
    }
    .upload__image-box {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (min-width: 768px) {
    :root {
        font-size: 1em;
    }
    .upload__image-box {
        width: 500px;
        height: 500px;
        transform: translate(-50%, 20%)
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        font-size: 1.2em;
    }
    .upload__image-box {
        width: 700px;
        height: 700px;
        transform: translate(-50%, 5%)
    }
}